# Node.js
node_modules/
npm-debug.log

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# Terraform
*.tfstate
*.tfstate.*
.crash
.terraform/
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.terraform.rc
terraform.lock.hcl
